#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Base";
            bindings = <
&kp ESC         &kp N1  &kp N2        &kp N3     &kp N4    &kp N5  &kp N6    &kp N7     &kp N8     &kp N9         &kp N0         &kp SQT
&kp TAB         &kp Q   &kp W         &kp E      &kp R     &kp T   &kp Y     &kp U      &kp I      &kp O          &kp P          &none
&kp BACKSPACE   &kp A   &kp S         &kp D      &kp F     &kp G   &kp H     &kp J      &kp K      &kp L          &kp SEMICOLON  &kp ENTER
&kp LEFT_SHIFT  &kp Z   &kp X         &kp C      &kp V     &kp B   &kp N     &kp M      &kp COMMA  &kp PERIOD     &kp SLASH      &kp RSHIFT
&kp LCTRL       &mo 1   &kp LEFT_ALT  &kp SPACE  &kp LEFT  &kp UP  &kp DOWN  &kp RIGHT  &kp SPACE  &kp RIGHT_ALT  &mo 2          &kp RCTRL
            >;
        };

        lower_layer {
            display-name = "Lower";
            bindings = <
&kp TILDE      &trans  &trans  &trans  &kp LA(F4)  &trans  &trans  &trans  &trans  &trans  &trans  &studio_unlock
&trans         &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans         &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans         &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans  &trans
&kp LEFT_META  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };

        raise_layer {
            display-name = "Raise";
            bindings = <
&kp F1  &kp F2  &kp F3  &kp F4  &kp F5  &kp F6  &kp F7  &kp F8  &kp F9  &kp F10  &kp F11  &kp F12
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans   &trans   &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans   &trans   &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans   &trans   &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans   &trans   &trans
            >;
        };
    };
};
